<h1>Person</h1>

<p>
  <strong>First Name:</strong>
  <%= @article.FirstName %>
</p>
 
<p>
  <strong>Last Name:</strong>
  <%= @article.LastName %>
</p>

<p>
  <strong>Company:</strong>
  <%= @article.Company %>
</p>
 
<p>
  <strong>Email:</strong>
  <%= @article.Email %>
</p>

<p>
  <strong>Website:</strong>
  <%= @article.Website %>
</p>
 
<p>
  <strong>Phone:</strong>
  <%= @article.Phone %>
</p>

<p>
  <strong>Title:</strong>
  <%= @article.Title %>
</p>

<%= link_to 'Back', person_index_path %>
